%h1 Listing bills

%table
  %tr
    %th Name
    %th Bill type
    %th Url
    %th
    %th
    %th

  - @bills.each do |bill|
    %tr
      %td= bill.name
      %td= bill.bill_type
      %td= bill.url
      %td= link_to 'Show', bill
      %td= link_to 'Edit', edit_bill_path(bill)
      %td= link_to 'Destroy', bill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bill', new_bill_path
